
            <h3 class="font-weight-bold bg-danger text-center">CARDS</h3>
<div class="row bg-primary">
    <div class="col-md-4" *ngFor ="let post of postArray">
              <div class="card P-2 mb-2" >
            <div class="card-header text-capitalize font-weight-bold text-center">
                {{post.title}}
            </div>
            <div class="card-body text-capitalize">
                {{post.body}}
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>


